<script>
{{- $page := . -}}
{{- if $page.IsPage -}}
window.dataLayer.push({
{{- with $page.ReadingTime -}}
  'est_reading_min': {{ . }},
  'est_reading_ms_100': {{ mul . 60000 }},
  'est_reading_ms_75': {{ mul . 45000 }},
  'est_reading_ms_50': {{ mul . 30000 }},
  'est_reading_ms_25': {{ mul . 15000 }},
{{- end -}}
{{- with $page.Params.categories -}}
  'post_categories': {{apply . "urlize" "."}},
{{- end -}}
{{- with $page.Params.title -}}
  'post_title': "{{.}}"
{{- end -}}
});
{{- else if eq $page.Kind "taxonomy" -}}
window.dataLayer.push({
  'list_type': "category",
{{- with $page.Pages -}}
{{- $page_count := len . -}}
{{- with $.Site.Params.paginate -}}
{{- if lt . $page_count -}}
{{- $page_count = . -}}
{{- end -}}
{{- end -}}
  'page_count': {{$page_count}},
{{- end -}}
{{- with $page.Dir -}}
  'category': "{{path.Base .}}"
{{- end -}}
});
{{- else if $page.IsHome -}}
window.dataLayer.push({
  'list_type': "homepage",
{{- with $page.Pages -}}
{{- $page_count := len . -}}
{{- with $.Site.Params.paginate -}}
{{- if lt . $page_count -}}
{{- $page_count = . -}}
{{- end -}}
{{- end -}}
  'page_count': {{$page_count}}
{{- end -}}
});
{{- end -}}
</script>
